<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>assessments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Add assessment</h1>
<form method="POST" action="#" th:action="@{/admin/assessment/new}" th:object="${assessment}">
    <p><input type="text" th:field="*{title}" placeholder="Title" required="true" minlength="5"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</span></p>
    <button type="submit">Save</button>
    <a href="/admin/assessment">
        <button type="button">Cancel</button>
    </a>
</form>
</body>
</html>