<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<!-- <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap-theme.min.css" th:href="@{/lib/bootstrap/css/bootstrap-theme.min.css}" /> -->
<!-- <link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}" /> -->
<link rel="stylesheet" href="../static/lib/adminlte/css/AdminLTE.min.css" th:href="@{/lib/adminlte/css/AdminLTE.min.css}" />
<link rel="stylesheet" href="../static/lib/adminlte/css/skins/skin-blue.css" th:href="@{/lib/adminlte/css/skins/_all-skins.min.css}" />
<link rel="stylesheet" href="../static/lib/iCheck/all.css" th:href="@{/lib/iCheck/all.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<script src="../../static/lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/lib/adminlte/js/app.min.js" th:src="@{/lib/adminlte/js/app.min.js}"></script>
<script src="../../static/lib/iCheck/icheck.min.js" th:src="@{/lib/iCheck/icheck.min.js}"></script>
<title>Assessment</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/adminbar :: adminbar"></div>
	<div class="container">
		<h1>Add assessment</h1>
		<form method="POST" action="#" th:action="@{/admin/assessment/new}" th:object="${assessment}">
			<p>
				<input type="text" th:field="*{title}" placeholder="Title" required="true" minlength="3" /> <span th:if="${#fields.hasErrors('title')}"
					th:errors="*{title}">Title error</span>
			</p>
			<button class="btn btn-default" type="submit">Save</button>
			<a href="/admin/assessment">
				<button class="btn btn-default" type="button">Cancel</button>
			</a>
		</form>
	</div>
</body>
</html>