<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>assessments</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>All assessments</h1>
<a href="/admin/assessment/new">
    <button>New assessment</button>
</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Items</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="assessment : ${assessments}">
        <td>
            <a th:href="'/admin/assessment/detail/' + ${assessment.crn}">
                <span th:text="${assessment.crn}"></span>
            </a>
        </td>
        <td th:text="${assessment.title}"></td>
        <td>
            <a th:if="${assessment.assessItems.size() > 0}" th:href="'/admin/assessment/items/' + ${assessment.crn}">
                <span th:text="${assessment.assessItems.size()}"></span>
            </a>
            <span th:if="${assessment.assessItems.size() == 0}" th:text="${assessment.assessItems.size()}"></span>
        </td>
        <td><a th:href="'/admin/assessment/edit/' + ${assessment.crn}">edit</a></td>
        <td>
            <form method="post" th:action="'/admin/assessment/delete/' + ${assessment.crn}">
                <button type="submit">delete now</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>