<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../css/core.css}" th:href="@{/css/core.css}"/>
    <script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <title>Assessment</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <a href="/admin/assessment">
        <button>Back</button>
    </a>
    <h2>Assessment: <span th:text="${assessment.crn}"></span></h2>
    <p>Title: <span th:text="${assessment.title}"></span></p>
    <p>Course: <span th:text="${assessment.course.title}"></span></p>
</div>
</body>
</html>