<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/bundle :: bundle"></th:block> <title>Assessment</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <a href="/admin/assessment">
        <button class="btn btn-default">Back</button>
    </a>
    <h2>Assessment: <span th:text="${assessment.code}"></span></h2>
    <p>Title: <span th:text="${assessment.title}"></span></p>
    <p>Faculty: <span th:text="${assessment.faculty.title}"></span></p>
</div>
</body>
</html>