<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/bundle :: bundle"></th:block> <title>Manager</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/managerbar :: managerbar"></div>
<div class="container">
    <h1>All claims in this month</h1>
    <div class="table-responsive mailbox-messages">
        <table class="table table-hover table-striped">
            <tr>
                <th>Evident</th>
                <th>Status</th>
                <th>Dateline</th>
                <th>Overdue</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="claim : ${claims}">
                <td th:text="${claim.evidence}"></td>
                <td th:text="${claim.status}"></td>
                <td th:text="${claim.closedDate}"></td>
                <td th:text="${claim.isMissClosedDate() ? 'yes' : 'no'}"></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>