<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../css/core.css}" th:href="@{/css/core.css}"/>
    <script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <title>Manager</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1>Statistics</h1>

    <h3>Claims per faculty</h3>
    <table border="1">
        <tr>
            <th>Faculty</th>
            <th>Claims</th>
        </tr>
        <tr th:each="map : ${claimsPerFaculty}">
            <td th:text="${map.key}"></td>

            <td>
                <b style="color: blue;" th:text="${map.value + ' claims'}"></b>
            </td>
        </tr>
    </table>
    <div id="cpfChart" style="width: 600px; height: 400px;"></div>

    <h3>Claims per year</h3>
    <table border="1">
        <tr>
            <th>Year</th>
            <th>Claims</th>
        </tr>
        <tr th:each="map : ${claimsPerYear}">
            <td th:text="${map.key}"></td>

            <td>
                <b style="color: blue;" th:text="${map.value+ ' claims'}"></b>
            </td>
        </tr>
    </table>
    <div id="cpyChart" style="width: 600px; height: 400px;"></div>
</div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script th:inline="javascript">
    google.charts.load('current', {'packages': ['corechart']});
    google.charts.setOnLoadCallback(drawclaimsPerFacultyChart);
    google.charts.setOnLoadCallback(drawclaimsPerYearChart);

    function drawclaimsPerFacultyChart() {
        var map = [[${claimsPerFaculty}]];
        var mapData = [['Faculty', 'Claims']];
        for (var key in map) {
            mapData.push([key, map[key]]);
        }

        var data = google.visualization.arrayToDataTable(mapData);

        var options = {
            title: 'Claims per faculty'
        };

        var chart = new google.visualization.PieChart(document.getElementById('cpfChart'));

        chart.draw(data, options);
    }

    function drawclaimsPerYearChart() {
        var map = [[${claimsPerYear}]];
        var mapData = [['Year', 'Claims']];
        for (var key in map) {
            mapData.push([key, map[key]]);
        }

        var data = google.visualization.arrayToDataTable(mapData);

        var options = {
            title: 'Claims per faculty'
        };

        var chart = new google.visualization.PieChart(document.getElementById('cpyChart'));

        chart.draw(data, options);
    }


</script>
</body>
</html>