<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Add user</h1>
<form method="POST" action="#" th:action="@{/admin/user/new}" th:object="${user}">
    <p><input type="text" th:field="*{username}" placeholder="Username" required="true" minlength="5"/>
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span></p>
    <p><input type="text" th:field="*{firstName}" placeholder="First name" required="true" minlength="5"/></p>
    <p><input type="text" th:field="*{lastName}" placeholder="Last name" required="true" minlength="5"/></p>
    <p><input type="email" th:field="*{email}" placeholder="Email" required="true"/></p>
    <p><input type="password" th:field="*{password}" placeholder="Password" required="true" minlength="5"/></p>
    <p>Authories: <br/>
        <input type="checkbox" th:field="*{authorities}" value="ROLE_STUDENT" hidden="true"/><br/>
        <input type="checkbox" th:field="*{authorities}" value="ROLE_MANAGER"/>Manager <br/>
        <input type="checkbox" th:field="*{authorities}" value="ROLE_COORDINATOR"/>Coordinator<br/>
        <input type="checkbox" th:field="*{authorities}"  value="ROLE_ADMIN"/>Admin</p>
    <button type="submit">Save</button>
    <a href="/admin/user">
        <button type="button">Cancel</button>
    </a>
</form>
</body>
</html>