<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/bundle :: bundle"></th:block>
<title>User</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/adminbar :: adminbar"></div>
	<div class="container">
		<h1>Add user</h1>
		<form method="POST" action="#" th:action="@{/admin/user/new}" th:object="${user}">
			<p>
				<input type="text" th:field="*{username}" placeholder="Username" required="true" minlength="3" pattern="^[a-zA-Z][a-zA-Z0-9]*[._-]?[a-zA-Z0-9]+$" /> <span th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}">Username error</span>
			</p>
			<p>
				<input type="text" th:field="*{firstName}" placeholder="First name" required="true" minlength="3" />
			</p>
			<p>
				<input type="text" th:field="*{lastName}" placeholder="Last name" required="true" minlength="3" />
			</p>
			<p>
				<input type="email" th:field="*{email}" placeholder="Email" required="true" />
			</p>
			<p>
				<input type="password" th:field="*{password}" placeholder="Password" required="true" minlength="3" />
			</p>
			<p>
				Authories: <br /> <input type="checkbox" th:field="*{authorities}" value="ROLE_STUDENT" />Student<br /> <input type="checkbox"
					th:field="*{authorities}" value="ROLE_MANAGER" />Manager <br /> <input type="checkbox" th:field="*{authorities}" value="ROLE_COORDINATOR" />Coordinator<br />
				<input type="checkbox" th:field="*{authorities}" value="ROLE_ADMIN" />Admin
			</p>
			<button class="btn btn-default" type="submit">Save</button>
			<a href="/admin/user">
				<button class="btn btn-default" type="button">Cancel</button>
			</a>
		</form>
	</div>
</body>
</html>