<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:replace="fragments/bundle :: bundle"></th:block>
<title>Admin</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
	<div th:replace="fragments/header :: header"></div>
	<div th:replace="fragments/adminbar :: adminbar"></div>
	<div class="container">
		<a href="/admin/user">
			<button class="btn btn-default">Back</button>
		</a>
		<h2>
			User: <span th:text="${user.username}"></span>
		</h2>
		<p>
			First name: <span th:text="${user.firstName}"></span>
		</p>
		<p>
			Last name: <span th:text="${user.lastName}"></span>
		</p>
		<p>
			Email: <span th:text="${user.email}"></span>
		</p>
		<p>
			Created Date: <span th:text="${user.createdDate}"></span>
		</p>
		<p>
			Faculty: <span th:text="${user.faculty}"></span>
		</p>
		<p>Authorities:
		<p th:each="role : ${user.authorities}" th:text="${role}"></p>
		</p>
	</div>
</body>
</html>