<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/admin/user">
    <button>Back</button>
</a>
<h2>User: <span th:text="${user.username}"></span></h2>
<p>First name: <span th:text="${user.firstName}"></span></p>
<p>Last name: <span th:text="${user.lastName}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>Created Date: <span th:text="${user.createdDate}"></span></p>
<p>Authorities: <p th:each="role : ${user.authorities}" th:text="${role}"></p></p>
</body>
</html>