<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Hello Admin</h1>

    <a href="/admin/user">Users</a>
    <a href="/admin/faculty">Faculties</a>
    <a href="/admin/course">Courses</a>
    <a href="/admin/claim">Claims</a>
    <a href="/admin/circumstance">Circumstances</a>
    <a href="/admin/assessments">Assessments</a>
</body>
</html>