<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../css/core.css}" th:href="@{/css/core.css}"/>
    <script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <title>Course</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <h1>All courses</h1>
    <a href="/admin/course/new">
        <button class="btn btn-default">New course</button>
    </a>
    <p>
        <span class="m-error" th:if="${error}" th:text="${error}"></span>
    </p>
    <div class="table-responsive ">
        <table class="table table-hover table-striped">
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Faculty</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="course : ${courses}">
                <td>
                    <a th:href="'/admin/course/detail/' + ${course.code}">
                        <span th:text="${course.code}"></span>
                    </a>
                </td>
                <td th:text="${course.title}"></td>
                <td th:text="${course.faculty.title}"></td>
                <td><a class="btn btn-default" th:href="'/admin/course/edit/' + ${course.code}">edit</a></td>
                <td>
                    <form method="post" th:action="'/admin/course/delete/' + ${course.code}">
                        <button class="btn btn-default" type="submit">delete now</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>