<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/bundle :: bundle"></th:block> <title>Course</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <a href="/admin/course">
        <button class="btn btn-default">Back</button>
    </a>
    <h2>Claim detail</h2>
    <p>Code: <span th:text="${course.code}"></span></p>
    <p>Title: <span th:text="${course.title}"></span></p>
    <p>Faculty: <span th:text="${course.faculty.title}"></span></p>
</div>
</body>
</html>