<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/bundle :: bundle"></th:block>  <title>Course</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <h1>Edit course</h1>
    <form method="POST" action="#" th:action="@{/admin/course/edit}" th:object="${course}">
        <p><input type="text" th:field="*{code}" hcodeden="true"/></p>
        <p><input type="text" th:field="*{title}" placeholder="Title" required="true" minlength="5"/></p>
        <button class="btn btn-default" type="submit">Save</button>
        <a href="/admin/course">
            <button class="btn btn-default" type="button">Cancel</button>
        </a>
    </form>
</div>
</body>
</html>