<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>courses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Edit course</h1>
<form method="POST" action="#" th:action="@{/admin/course/edit}" th:object="${course}">
    <p><input type="text" th:field="*{code}" hcodeden="true"/></p>
    <p><input type="text" th:field="*{title}" placeholder="Title" required="true" minlength="5"/></p>
    <button type="submit">Save</button>
    <a href="/admin/course">
        <button type="button">Cancel</button>
    </a>
</form>
</body>
</html>