<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<script src="../../lib/jquery/jquery.js" th:src="@{/lib/bootstrap/jquery/jquery.js}"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.css}"></script>
</head>
<body>
	<!--/*  Multiple fragments may be defined in one file */-->
	<div th:fragment="footer" class="text-center">&copy; 2017 EC Management system</div>
</body>
</html>

