<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.css}"></script>
</head>
<body>
	<!-- Navbar -->
	<div class="navbar navbar-default" th:fragment="header">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"><b>EC</b>Management System</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<th:block sec:authorize="hasRole('ROLE_STUDENT')">
						<li><a href="#" th:href="@{/student/claim/view}">My EC claims</a></li>
						<li><a href="#" th:href="@{/student/claim/add}">Request new EC claim</a></li>
					</th:block>
					<th:block sec:authorize="hasRole('ROLE_COORDINATOR')">
						<li><a href="#" th:href="@{/eccoordinator/claim}">View EC claims</a></li>
					</th:block>

					<li sec:authorize="hasRole('ROLE_MANAGER')"><a href="#" th:href="@{/manager}">Management</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" th:href="@{/admin}">Administration</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${#authorization.expression('!isAuthenticated()')}"><a href="/#" th:href="@{/login}">Sign in</a></li>
					<li th:if="${#authorization.expression('isAuthenticated()')}" class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"
						role="button" aria-haspopup="true" aria-expanded="false"> <span class="glyphicon glyphicon-user"></span> <span
							sec:authentication="principal.username"></span> <span class="caret"></span>
					</a>
						<ul class="dropdown-menu">
							<li><a href="#">My Profile</a></li>
							<li role="separator" class="divider"></li>
							<li>
								<form th:action="@{/logout}" method="post">
									<input class="btn btn-primary btn-block" type="submit" value="Sign Out" />
								</form>
							</li>
						</ul></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
</body>
</html>