<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <script src="../../lib/jquery/jquery.js" th:src="@{/lib/bootstrap/jquery/jquery.js}"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.css}"></script>
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="managerbar" class="text-center">
    <div class="btn-group">
        <a href="/manager/claims" class="btn btn-default">Claims</a>
        <a href="/manager/claims/thismonth" class="btn btn-default">ClaimsThisMonth</a>
        <a href="/manager/claims/thisweek" class="btn btn-default">ClaimsThisWeek</a>
        <a href="/manager/claims/custom" class="btn btn-default">CustomClaims</a>
    </div>
    <br/>
    <div class="btn-group">
        <a href="/manager/claims/faculty" class="btn btn-default">Claims/faculty</a>
        <a href="/manager/claims/year" class="btn btn-default">Claims/year</a>
        <a href="/manager/claims/faculty/processed" class="btn btn-default">Processed Claims/year</a>
        <a href="/manager/claims/circumstance" class="btn btn-default">Claims/circumstance</a>
        <a href="/manager/claims/validation" class="btn btn-default">Claims/validation</a>
    </div>
</div>
</body>
</html>

