<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<!-- <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap-theme.min.css" th:href="@{/lib/bootstrap/css/bootstrap-theme.min.css}" /> -->
<!-- <link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}" /> -->
<link rel="stylesheet" href="../static/lib/adminlte/css/AdminLTE.min.css" th:href="@{/lib/adminlte/css/AdminLTE.min.css}" />
<link rel="stylesheet" href="../static/lib/adminlte/css/skins/skin-blue.css" th:href="@{/lib/adminlte/css/skins/_all-skins.min.css}" />
<link rel="stylesheet" href="../static/lib/iCheck/all.css" th:href="@{/lib/iCheck/all.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<script src="../../static/lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/lib/adminlte/js/app.min.js" th:src="@{/lib/adminlte/js/app.min.js}"></script>
<script src="../../static/lib/iCheck/icheck.min.js" th:src="@{/lib/iCheck/icheck.min.js}"></script>
<script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
</head>
<body class="hold-transition skin-green layout-top-nav">

	<div th:replace="fragments/header :: header"></div>
	<div class="content-wrapper">
		<div class="container">
			<section class="content-header">
				<h1>Create a new EC Claim</h1>
			</section>
			<section class="content">
				<div class="box box-success">
					<div class="box-header">
						<h3 class="box-title">Select assessments and circumstances</h3>
					</div>
					<div class="box-body">
						<form th:action="@{/student/claim/add}" id="add-form" method="post" class="form-horizontal" enctype="multipart/form-data">
							<div style="display: none;" class="alert alert-danger">
								<h4>
									<i class="icon fa fa-ban"></i> Claim form error!
								</h4>
								Some fields are not correct!
							</div>
							<div class="form-group col-lg-12 group-item">
								<label>Choose assessments</label> <span style="display: none;" class="help-block">You have to select at least one item of assessment!</span>
								<div th:each="ass : ${allAssessments}">
									<label th:text="${ass.code}+' '+${ass.title}"> </label>

									<div th:each="item : ${ass.items}">
										<label> <input type="checkbox" class="myCheckbox" name="itemCrns" th:value="${item.crn}" /> <span th:text="${item.title}">Check
												1</span>
										</label>
									</div>
									<br />
								</div>
							</div>
							<div class="form-group col-lg-12 group-circumstance">
								<label>Choose circumstances</label> <span style="display: none;" class="help-block">You have to select at least one circumstance!</span>
								<div th:each="cir : ${allCircumstances}">
									<label><input type="checkbox" class="myCheckbox" name="circumstances" th:value="${cir.id}" /> <span th:text="${cir.title}"></span></label>
								</div>
							</div>

							<div class="form-group col-lg-12 group-content">
								<label>Content</label> <span style="display: none;" class="help-block">The content cannot blank</span>
								<div>
									<textarea id="contentEditor" name="content" rows="10" cols="80"></textarea>
								</div>

							</div>
							<div class="form-group col-lg-12">
								<label>Attach files</label>
								<div>
									<input type="file" name="evidenceFiles" accept=".jpg, .png, .pdf, .doc" multiple="true" />
								</div>
							</div>
							<div class="form-group col-lg-12">
								<button type="submit" class="btn btn-primary" value="Submit claim"><i class="fa fa-paper-plane" aria-hidden="true"></i> Submit claim</button>
							</div>

						</form>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>

	<script>

            $("#add-form").submit(function (e) {

                valid = true
                if ($("input[name=itemCrns]:checked").length == 0) {
                    $(".group-item").addClass("has-error")
                    $(".group-item").find(".help-block").show()
                    valid = false;
                }
                if ($("input[name=circumstances]:checked").length == 0) {
                    $(".group-circumstance").addClass("has-error")
                    $(".group-circumstance").find(".help-block").show()
                    valid = false;
                }

                if (CKEDITOR.instances.contentEditor.document.getBody().getText().length <= 1) {
                    $(".group-content").addClass("has-error")
                    $(".group-content").find(".help-block").show()
                    valid = false;
                }
                if (!valid) {
                    e.preventDefault()
                    $(".alert-danger").show();
                    window.scrollTo(0, 0);
                }
            })
            $('input.myCheckbox, input.myRadio').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue',
                cursor: true
            });
            CKEDITOR.replace('contentEditor', {
            });

        </script>
</body>
</html>