<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../css/core.css}" th:href="@{/css/core.css}"/>
<script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>

<title>Claims</title>
</head>

<div th:replace="fragments/header :: header"></div>
<body>
<!-- 	<div sec:authorize="isAuthenticated()"> -->
<!--   This content is only shown to authenticated users. -->
<!-- </div> -->
<!-- <th:block sec:authorize="hasRole('ROLE_STUDENT')"> -->
<!--   This content is only shown to ROLE_STUDENT. -->
<!-- </th:block> -->
<!-- <div sec:authorize="hasRole('ROLE_MANAGER')"> -->
<!--   This content is only shown to ROLE_MANAGER. -->
<!-- </div> -->

<div class="container">
	<span th:field="${claims.size()}"></span>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Claim ID</th>
				<th>Assessments</th>
				<th>Circumstances</th>
				<th>Submit date</th>
				<th>Status</th>
				<!-- 				<th>Evidences</th> -->
			</tr>
		</thead>

		<tbody>
			<tr th:each="cl : ${claims}" class="clickableRow">
				<td th:text="${cl.id}" class="claimId"></td>
				<td><p th:each="ass : ${cl.assessment}" th:text="${ass.title}"></p></td>
				<td><p th:each="cir : ${cl.circumstances}" th:text="${cir.title}"></p></td>

				<td th:text="${cl.created_time}"></td>
				<td th:text="${cl.status}">fds</td>

			</tr>
		</tbody>

	</table>
	<a href="#" th:href="@{/student/claim/add}">Submit new claim</a>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
<script>
	$(".clickableRow").on("click", function() {
		<th:block sec:authorize="hasRole('ROLE_STUDENT')">
		window.location.href = "http://localhost:8080/student/claim/detail?id="+$(this).find(".claimId").html()
		</th:block>		
		<th:block sec:authorize="hasRole('ROLE_MANAGER')">
		window.location.href = "http://localhost:8080/eccoordinator/claim/process?id="+$(this).find(".claimId").html()
		</th:block>		
 		
 		
	})
</script>
</html>