<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
<link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<!-- <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap-theme.min.css" th:href="@{/lib/bootstrap/css/bootstrap-theme.min.css}" /> -->
<!-- <link rel="stylesheet" href="../static/css/core.css" th:href="@{/css/core.css}" /> -->
<link rel="stylesheet" href="../static/lib/adminlte/css/AdminLTE.min.css" th:href="@{/lib/adminlte/css/AdminLTE.min.css}" />
<link rel="stylesheet" href="../static/lib/adminlte/css/skins/skin-blue.css" th:href="@{/lib/adminlte/css/skins/_all-skins.min.css}" />
<link rel="stylesheet" href="../static/lib/iCheck/all.css" th:href="@{/lib/iCheck/all.css}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<script src="../static/lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
<script src="../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../static/lib/adminlte/js/app.min.js" th:src="@{/lib/adminlte/js/app.min.js}"></script>
<script src="../../static/lib/iCheck/icheck.min.js" th:src="@{/lib/iCheck/icheck.min.js}"></script>
<title>Claims</title>
</head>


<body class="hold-transition skin-green layout-top-nav">
	<div class="wrapper">
		<div th:replace="fragments/header :: header"></div>
		<div class="content-wrapper">
			<div class="container">
				<section class="content-header">
					<h1>Your claims</h1>
				</section>
				<section class="content">
					<div th:if="${claimAdded != null}" class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-check"></i> Claim added successfully!
						</h4>
						Your claim will be processed as soon as possible.
					</div>
					<div th:if="${claimProcessed != null}" class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-check"></i> Claim saved!
						</h4>
						A new email will be sent to claim's student.
					</div>
					<div th:if="${updatedEvidence != null}" class="alert alert-success alert-dismissible">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<h4>
							<i class="icon fa fa-check"></i> Your evidences have been uploaded successfully!
						</h4>
						A new email will be sent to claim's student.
					</div>

					<div class="box box-primary">
						<div class="box-header">

							<h3 class="box-title">
								Total claims [<span th:text="${claims.size()}"></span>]
							</h3>

							<div class="box-tools pull-right">
								<div class="has-feedback">
									<input type="text" class="form-control input-sm" placeholder="Search claim"> <span
										class="glyphicon glyphicon-search form-control-feedback"></span>
								</div>
							</div>
							<!-- /.box-tools -->
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table table-hover table-striped">
								<tbody>
									<tr style="cursor: pointer;" th:each="cl : ${claims}" class="claimRow">

										<input type="hidden" class="claimId" value="Submit" th:value="${cl.id}" />
										<!-- 								<td><input type="checkbox"></td> -->

										<td class="mailbox-date"><th:block th:switch="${cl.status}">
												<div th:case="0">
													<span class="label label-success">Done</span>
												</div>
												<div th:case="1">
													<span class="label label-warning">Pending</span>
												</div>
												<div th:case="2">
													<span class="label label-danger">Disabled</span>
												</div>
											</th:block></td>
										<td><b>Start [<span th:text="${#dates.format(cl.created_time, 'dd-MMM-yyyy')}"></span>]
										</b></td>
										<td class="mailbox-name" th:text="${cl.item.assessment.title}"></td>
										<td class="mailbox-subject" th:text="${cl.item.title}"><b>AdminLTE 2.0 Issue</b> - Trying to find a solution to this problem...</td>
										<td class="mailbox-attachment"></td>
										<td class="mailbox-date" th:text="${cl.created_time}">5 mins ago</td>

									</tr>
								</tbody>
							</table>
							<!-- /.table -->
						</div>
						<div class="box-footer with-border"></div>
					</div>
					<!-- /. box -->

				</section>
			</div>
			<!-- /.content-wrapper -->
		</div>
	</div>
	<!-- /.<div class="wrapper"> -->

	<div th:replace="fragments/footer :: footer"></div>

	<script>
	$(".alert-success").fadeTo(2000, 500).slideUp(500);
    $('.mailbox-messages input[type="checkbox"]').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
      });
    //Handle starring for glyphicon and font awesome
    $(".mailbox-star").click(function (e) {
      e.preventDefault();
      //detect type
      var $this = $(this).find("a > i");
      var glyph = $this.hasClass("glyphicon");
      var fa = $this.hasClass("fa");

      //Switch states
      if (glyph) {
        $this.toggleClass("glyphicon-star");
        $this.toggleClass("glyphicon-star-empty");
      }

      if (fa) {
        $this.toggleClass("fa-star");
        $this.toggleClass("fa-star-o");
      }
    });
    
    $(".claimRow").on("click", function() {
    	claimId=$(this).find(".claimId").val()
    	pathname=window.location.pathname
    	if(pathname.includes("eccoordinator"))
    	{
        	console.log("expected:eccoordinator, actual:"+pathname)
    		console.log("go to: http://localhost:8080/eccoordinator/claim/process?id="+claimId);
     		window.location.replace("/eccoordinator/claim/process?id="+claimId);
     		
    	}else if(pathname.includes("student")){
    		console.log("expected:student, actual:"+pathname)
    		console.log("go to: http://localhost:8080/student/claim/detail?id="+claimId)
    		window.location.replace("/student/claim/detail?id="+claimId);
    		
    	}		
    })
	</script>

</body>


</html>