<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

<link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../static/lib/bootstrap/css/bootstrap-theme.min.css" th:href="@{/lib/bootstrap/css/bootstrap-theme.min.css}" />
<link rel="stylesheet" href="../../static/css/core.css" th:href="@{/css/core.css}" />

<link rel="stylesheet" href="../../static/lib/adminlte/css/AdminLTE.min.css" th:href="@{/lib/adminlte/css/AdminLTE.min.css}" />
<link rel="stylesheet" href="../../static/lib/adminlte/css/skins/skin-blue.css" th:href="@{/lib/adminlte/css/skins/skin-blue.css}" />
<link rel="stylesheet" href="../../static/lib/iCheck/all.css" th:href="@{/lib/iCheck/all.css}" />

<script src="../../static/lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
<script src="../../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../static/lib/adminlte/js/app.min.js" th:src="@{/lib/adminlte/js/app.min.js}"></script>
<script src="../../static/lib/iCheck/icheck.min.js" th:src="@{/lib/iCheck/icheck.min.js}"></script>
<script src="https://cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>

<title>Detail claim</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<section class="content-header">
			<h1>Claim detail</h1>
		</section>
		<section class="content">
			<div class="box box-success">
				<div class="box-header with-border">
					<h3 class="box-title">Claim 2017-04-05</h3>
					<div class="label label-warning pull-right">Pending</div>
				</div>
				<div class="box-body">
					<div class="form-group">
						<label>Claim ID#:</label><span th:text="${claim.id}"></span>
					</div>
					<div class="form-group">
						<label>Content#:</label>
						<textarea id="" class="form-control" style="resize: vertical;" th:text="${claim.content}" name="decision" rows="10" cols="80"
							readonly="readonly"></textarea>
					</div>
					<div class="form-group">
						<label>Assessments: </label><br />
						<div th:each="ass : ${claim.assessment}" th:text="${ass.title}">
							<label> <input type="checkbox" class="myCheckbox" checked disabled /> <span th:text="${ass.title}">assessment</span>
							</label>
						</div>
					</div>
					<div class="form-group">
						<label>Circumstances: </label><br />
						<div th:each="cir : ${claim.circumstances}">
							<label> <input type="checkbox" class="myCheckbox" disabled checked /> <span th:text="${cir.title}">circumstances</span>
							</label>

						</div>
					</div>

					<form th:action="@{/eccoordinator/claim/process}" method="post">
						<div class="form-group">
							<label>Status</label> <select class="form-control">
								<option>Done</option>
								<option>Processing</option>
								<option>Disabled</option>
							</select>
						</div>


						<div class="form-group">
							<label>Content</label>
							<textarea id="contentEditor" th:text="${claim.decision}" name="decision" rows="10" cols="80"></textarea>
						</div>
						<div class="form-group">
							<input class="btn btn-primary" type="submit" value="Save" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer"></div>

	<script src="../../static/js/core.js"></script>
</body>
<script>
</script>
</html>