<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css" th:href="@{/lib/bootstrap/css/bootstrap.min.css}" />
<script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
<script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>

<title>Detail claim</title>
</head>
<body>

	<span th:text="${claim.id}"></span>
	<span th:text="${claim.content}"></span>

	<th:block th:switch="${claim.status}">
		<span th:case="0">Done</span>
		<span th:case="1">Processing</span>
		<span th:case="2">Disabled</span>
	</th:block>

	<form th:action="@{/eccoordinator/claim/process}" method="post">
	<input type="text" value="${claim.id}" name="claimId" />
		<select name="status">
			<option value="0">Done</option>
			<option value="1">Processing</option>
			<option value="2">Disabled</option>
		</select> <input type="submit" value="Save" />
	</form>
</body>
<script>
	// 	$(".clickableRow").on("click", function() {
	//  		window.location.href = "http://localhost:8080/eccoordinator/claim/detail?id="+$(this).find(".claimId").html()
	// 	})
</script>
</html>