<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Multiple File Upload Demo Application</title>
    </head>
    <body>
        <form th:action="@{/file/multiupload}" method="POST" enctype="multipart/form-data">
            <div id="fileSection">
                <h1>Multiple File Upload Demo Application</h1>
                <table>
                    <tr>
                        <td>Evidence 1:</td>
                        <td><input type="file" name="infoFile" size="45" />
                        </td>
                    </tr>
                    <tr>
                        <td>Evidence 2:</td>
                        <td><input type="file" name="imgFile" size="45" />
                        </td>
                    </tr>
                </table>
            </div>
            <p />
            <input type="submit" value="Upload" />
        </form>
    </body>
</html>
