<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Multiple File Upload Demo Application</title>
    </head>
    <body>
        <form th:action="@{/file/multiupload}" method="POST" enctype="multipart/form-data">
            <input type="file" name="evidenceFiles" accept="image/*" multiple="true" />
            <input type="submit" value="Upload"> Press here to upload the file!
        </form>
    </body>
</html>
