<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../css/core.css}" th:href="@{/css/core.css}"/>
    <script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <title>Circumstance</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <h1>All circumstances</h1>
    <a href="/admin/circumstance/new">
        <button>New circumstance</button>
    </a>
    <p>
        <span class="m-error" th:if="${error}" th:text="${error}"></span>
    </p>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="circumstance : ${circumstances}">
            <td>
                <a th:href="'/admin/circumstance/detail/' + ${circumstance.id}">
                    <span th:text="${circumstance.id}"></span>
                </a>
            </td>
            <td th:text="${circumstance.title}"></td>
            <td><a th:href="'/admin/circumstance/edit/' + ${circumstance.id}">edit</a></td>
            <td>
                <form method="post" th:action="'/admin/circumstance/delete/' + ${circumstance.id}">
                    <button type="submit">delete now</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>