<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/bundle :: bundle"></th:block><title>Circumstance</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <a href="/admin/circumstance">
        <button class="btn btn-default">Back</button>
    </a>
    <h2>Claim: <span th:text="${circumstance.id}"></span></h2>
    <p>Title: <span th:text="${circumstance.title}"></span></p>
</div>
</body>
</html>