<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Claims</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>All claims</h1>
<a href="/admin/claim/new">
    <button>New claim</button>
</a>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Evident</th>
        <th>Content</th>
        <th>Status</th>
        <th></th>
        <th></th>
    </tr>
    <tr th:each="claim : ${claims}">
        <td>
            <a th:href="'/admin/claim/detail/' + ${claim.id}">
                <span th:text="${claim.id}"></span>
            </a>
        </td>
        <td th:text="${claim.evidence}"></td>
        <td th:text="${claim.content}"></td>
        <td th:text="${claim.status}"></td>
        <td><a th:href="'/admin/claim/edit/' + ${claim.id}">edit</a></td>
        <td>
            <form method="post" th:action="'/admin/claim/delete/' + ${claim.id}">
                <button type="submit">delete now</button>
            </form>
        </td>
    </tr>
</table>
<p></p>
<b>Search claims by year</b>
<form method="get" th:action="@{/admin/claim/year}">
    <input type="number" name="year" pattern="^\d{4}$" placeholder="Year" min="1900" th:value="${param.year} ? ${param.year[0]} : null"/>
    <button type="submit">Search</button>
</form>
</body>
</html>