<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../css/core.css}" th:href="@{/css/core.css}"/>
    <script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <title>Claim</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <h1>All claims</h1>
    <b>Search claims by year</b>
    <form method="get" th:action="@{/admin/claim/year}">
        <input type="number" name="year" pattern="^\d{4}$" placeholder="Year" min="1900"
               th:value="${param.year} ? ${param.year[0]} : null"/>
        <button class="btn btn-default" type="submit">Search</button>
    </form>
    <p>
        <span class="m-error" th:if="${error}" th:text="${error}"></span>
    </p>
    <div class="table-responsive ">
        <table class="table table-hover table-striped">
            <tr>
                <th>ID</th>
                <th>Evident</th>
                <th>Content</th>
                <th>Status</th>
                <th>Dateline</th>
                <th>Overdue</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="claim : ${claims}">
                <td>
                    <a th:href="'/admin/claim/detail/' + ${claim.id}">
                        <span th:text="${claim.id}"></span>
                    </a>
                </td>
                <td th:text="${claim.evidence}"></td>
                <td th:text="${claim.content}"></td>
                <td th:text="${claim.status}"></td>
                <td th:text="${claim.closedDate}"></td>
                <td th:text="${claim.isMissClosedDate() ? 'yes' : 'no'}"></td>
                <td><a  class="btn btn-default" th:href="'/admin/claim/edit/' + ${claim.id}">edit</a></td>
                <td>
                    <form method="post" th:action="'/admin/claim/delete/' + ${claim.id}">
                        <button class="btn btn-default" type="submit">delete now</button>
                    </form>
                </td>
            </tr>
        </table>

    </div>
</div>
</body>
</html>