<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/bundle :: bundle"></th:block><title>Claim</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <a href="/admin/claim">
        <button class="btn btn-default">Back</button>
    </a>
    <h2>Claim: <span th:text="${claim.id}"></span></h2>
    <p>Status: <span th:text="${claim.status}"></span></p>
    <p>Created Date: <span th:text="${claim.created_time}"></span></p>
    <p>Process Date: <span th:text="${claim.processed_time}"></span></p>
    <p>Closed Date: <span th:text="${claim.closedDate}"></span></p>
    <p>Evidence: <span th:text="${claim.evidence}"></span></p>
    <p>Content: <span th:text="${claim.content}"></span></p>
</div>
</body>
</html>