<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/bundle :: bundle"></th:block>  <title>Claim</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <h1>Edit claim</h1>
    <form method="POST" action="#" th:action="@{/admin/claim/edit}" th:object="${claim}">
        <p><input type="text" th:field="*{id}" hidden="true"/></p>
        <p><input type="text" th:field="*{evidence}" placeholder="Evidence" required="true" minlength="5"/></p>
        <p><input type="text" th:field="*{content}" placeholder="Content" required="true" minlength="5"/></p>
        <p><input type="number" th:field="*{status}" placeholder="Status" required="true" min="1"/></p>
        <p>Set dateline: <input type="date" th:field="*{closedDate}" placeholder="Closed Date" name="closedDate" required="true"/></p>
        <!--<td th:if="${#fields.hasErrors('closedDate')}" th:errors="*{closedDate}">closedDate Error</td>-->
        <button class="btn btn-default" type="submit">Save</button>
        <a href="/admin/claim">
            <button class="btn btn-default" type="button">Cancel</button>
        </a>
    </form>
</div>
</body>
</html>