<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/bundle :: bundle"></th:block><title>Course</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <h1>All items</h1>
    <a href="/admin/item/new">
        <button class="btn btn-default">New item</button>
    </a>
    <p>
        <span class="m-error" th:if="${error}" th:text="${error}"></span>
    </p>
    <div class="table-responsive ">
        <table class="table table-hover table-striped">
            <tr>
                <th>Crn</th>
                <th>Title</th>
                <th>Dateline</th>
                <th>Overdue</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="item : ${items}">
                <td>
                    <a th:href="'/admin/item/detail/' + ${item.crn}">
                        <span th:text="${item.crn}"></span>
                    </a>
                </td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.closedDate}"></td>
                <td th:text="${item.isMissClosedDate() ? 'yes' : 'no'}"></td>
                <td><a class="btn btn-default" th:href="'/admin/item/edit/' + ${item.crn}">edit</a></td>
                <td>
                    <form method="post" th:action="'/admin/item/delete/' + ${item.crn}">
                        <button class="btn btn-default" type="submit">delete now</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>