<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../css/core.css}" th:href="@{/css/core.css}"/>
    <script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <title>Faculty</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <h1>Add faculty</h1>
    <form method="POST" action="#" th:action="@{/admin/faculty/new}" th:object="${faculty}">
        <p><input type="text" th:field="*{title}" placeholder="Title" required="true" minlength="3"/>
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title error</span></p>
        <button class="btn btn-default" type="submit">Save</button>
        <a href="/admin/faculty">
            <button class="btn btn-default" type="button">Cancel</button>
        </a>
    </form>
</div>
</body>
</html>