<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <th:block th:replace="fragments/bundle :: bundle"></th:block><title>Faculty</title>
</head>
<body class="hold-transition skin-green layout-top-nav">
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <a class="btn btn-default" href="/admin/faculty">
        <button>Back</button>
    </a>
    <h2>Claim: <span th:text="${faculty.id}"></span></h2>
    <p>Title: <span th:text="${faculty.title}"></span></p>
</div>
</body>
</html>