<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/lib/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../../css/core.css}" th:href="@{/css/core.css}"/>
    <script src="../../lib/jquery/jquery.js" th:src="@{/lib/jquery/jquery.js}"></script>
    <script src="../../lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
    <title>Faculty</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/adminbar :: adminbar"></div>
<div class="container">
    <h1>All faculties</h1>
    <a href="/admin/faculty/new">
        <button class="btn btn-default">New faculty</button>
    </a>
    <p>
        <span class="m-error" th:if="${error}" th:text="${error}"></span>
    </p>
    <div class="">
        <table border="1" class="table-hover table-striped">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="faculty : ${faculties}">
                <td>
                    <a th:href="'/admin/faculty/detail/' + ${faculty.id}">
                        <span th:text="${faculty.id}"></span>
                    </a>
                </td>
                <td th:text="${faculty.title}"></td>
                <td><a class="btn btn-default" th:href="'/admin/faculty/edit/' + ${faculty.id}">edit</a></td>
                <td>
                    <form method="post" th:action="'/admin/faculty/delete/' + ${faculty.id}">
                        <button  class="btn btn-default" type="submit">delete now</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>